<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sancho.gnarlymusicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/launcher_adaptive"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppThemeBlack"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="sancho.gnarlymusicplayer.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sancho.gnarlymusicplayer.activities.MainActivity" />
        </activity>

        <service
            android:name=".playbackservice.MediaPlaybackService"
            android:enabled="true" />

        <activity
            android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
